<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/grade/list">Grade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee/list">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee/salary-sheet">Salary Sheet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bank-account/account-info">Company Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bank-account/emp-acc-list">Employee Account</a>
      </li>

    </ul>
  </div>
</nav>
